.project-header{
    font-size: 16px;
}
.description{
    margin: 0px 5px;
}

.technologies{
    font-size: 14px;
    font-weight: bold;
}

.skills-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 300px;
}   

.skills-list li{
    font-size: 3em;
    display: flex;
    flex-direction: column;
}
.skills-list p {
    font-size: 12px;
}

.resume-container{
    display: flex;
    justify-content:center;
}

.contact-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-container__main{
    text-align: left;
    font-size: 16px;
}

.contact-container__main h3{
    font-weight: bold;
}

.contact-container__main h4{
    text-decoration: underline;
}

.contact-container__socials{
    text-align: left;
    font-size: 16px;
}

.contact-container__socials h3{
    font-weight: bold;
}

.contact-container__socials ul{
    margin: 0;
    margin-left: -5px;
    padding: 0;
}

.contact-container__socials li{
    list-style: none;
}

.about-description{
    display: flex;
}

.about-description img{
    width: 40%;
    margin-left: 50px;
}

.one, .four, #contact{
    height: 100vh;
}

.item{
    /* box-sizing: border-box; */
    /* height: 470px; */
    background: white;
    margin: 10px;
}



@media screen and (max-width:1000px){
    .about-description{
        flex-direction: column-reverse;
    }
    .about-description img{
        width: 60%;
        /* margin-left: 50px; */
        margin-left: 0px;
        margin: auto;
        margin-bottom: 30px;
    }
}